{
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "parser": "babel-eslint",
  "globals": {
    "AppContainer": true,
    "TradeMachine": true,
    "TeamArea": true,
    "TeamList": true,
    "Check": true
  },
  "rules": {
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "no-unused-vars": [0, { "vars": "local", "args": "after-used" }],
    "indent": [2, 2],
    "brace-style": [2, "stroustrup", { "allowSingleLine": false }],
    "camelcase": [2, { "properties": "always" }],
    "strict": 0,
    "new-cap": 0,
    "comma-dangle": "always",
    "no-cond-assign": "always",
    "no-use-before-define": [2, "nofunc"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2
  },
  "plugins": [
    "react"
  ]
}
