$hawks-primary: #000080;
$hawks-secondary: #FF0000;
$hawks-tertiary: #C0C0C0;

$celtics-primary: #009E60;
$celtics-secondary: #000000;

$nets-primary: #000000;

$hornets-primary: #1D1160;
$hornets-secondary: #008CA8;
$hornets-tertiary: #A1A1A4;

$bulls-primary: #D4001F;
$bulls-secondary: #000000;

$cavaliers-primary: #860038;
$cavaliers-secondary: #FDBB30;
$cavaliers-tertiary: #002D62;

$mavericks-primary: #0B60AD;
$mavericks-secondary: #072156;
$mavericks-tertiary: #A9A9A9;

$nuggets-primary: #4B90CD;
$nuggets-secondary: #FDB827;
$nuggets-tertiary: #002D62;

$pistons-primary: #00519A;
$pistons-secondary: #EB003C;
$pistons-tertiary: #041E40;

$warriors-primary: #04529C;
$warriors-secondary: #FFCC33;

$rockets-primary: #CE1138;
$rockets-secondary: #CCCCCC;
$rockets-tertiary: #000000;

$pacers-primary: #092C57;
$pacers-secondary: #FFC322;
$pacers-tertiary: #C0C0C0;

$clippers-primary: #EE2944;
$clippers-secondary: #146AA2;

$lakers-primary: #4A2583;
$lakers-secondary: #F5AF1B;

$grizzlies-primary: #001F70;
$grizzlies-secondary: #7399C6;
$grizzlies-tertiary: #BED4E9;
$grizzlies-quaternary: #FDB927;

$heat-primary: #000000;
$heat-secondary: #B62630;
$heat-tertiary: #FF9F00;

$bucks-primary: #003614;
$bucks-secondary: #E32636;
$bucks-tertiary: #C0C0C0;

$timberwolves-primary: #0F4D92;
$timberwolves-secondary: #000000;
$timberwolves-tertiary: #8C92AC;
$timberwolves-quaternary: #50C878;

$pelicans-primary: #002B5C;
$pelicans-secondary: #B4975A;
$pelicans-tertiary: #E31836;

$knicks-primary: #0953A0;
$knicks-secondary: #FF7518;
$knicks-tertiary: #C0C0C0;

$thunder-primary: #007DC3;
$thunder-secondary: #F05133;
$thunder-tertiary: #FDBB30;
$thunder-quaternary: #002D62;

$magic-primary: #0047AB;
$magic-secondary: #000000;
$magic-tertiary: #708090;

$sixers-primary: #0046AD;
$sixers-secondary: #D0103A;

$suns-primary: #1C105E;
$suns-secondary: #E65F20;
$suns-tertiary: #000000;
$suns-quaternary: #B1B3B3;

$trail-blazers-primary: #F0163A;
$trail-blazers-secondary: #B6BFBF;
$trail-blazers-tertiary: #000000;

$kings-primary: #753BBD;
$kings-primary: #000000;
$kings-primary: #8A8D8F;

$spurs-primary: #000000;
$spurs-primary: #BEC8C9;

$raptors-primary: #B31B1B;
$raptors-secondary: #000000;
$raptors-tertiary: #708090;

$jazz-primary: #00275D;
$jazz-secondary: #FF9100;
$jazz-tertiary: #0D4006;
$jazz-quaternary: #B5B5B5;

$wizards-primary: #C60C30;
$wizards-secondary: #002244;
$wizards-tertiary: #BCC4CC;